/* Page-specific styles for Contact */

.contact {
  text-align: center;
}

.contact p {
  margin: 0.8rem 0;
}

.contact a {
  color: #333;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
<<<<<<< HEAD
}
=======
}
>>>>>>> 4f6073a4135519ec0bfb56f9f6917d1ff114f064
